#root {
/*  max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.left {
  float: left;
}
.right {
  float: right;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#email-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

#login-form {
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  padding: 0px 10px 40px 10px;
  border-radius: 15%;
  border: 1px rgb(33,53,71) solid;
  color: rgb(33,53,71);
  width: 350px;
}

#login-form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}
.form-title {
  position: relative;
  top: -40px;
  margin-bottom: 0%;
  padding: 0px 20px 0px 20px;
  color: rgb(33,53,71);
  background-color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.hero img {
  max-width: 1280px;
  width: 100%;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

